Example1

In [1]:
print("Hello World!")

Hello World!

Example2

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Example3

In [13]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

Example4

In [7]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Example5

In [11]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

Example6

In [16]:
x = 5
y = "Hello, World!"

Example7

In [19]:
#This is a comment.
print("Hello, World!")

Hello, World!

Example8

In [22]:
print("Hello, World!") #This is a comment

Hello, World!

Example9

In [25]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Example10

In [28]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Example11

In [31]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Example12

In [34]:
x = 5
y = "John"
print(x)
print(y)

5
John

Example13

In [37]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Example14

In [40]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Example15

In [43]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example16

In [46]:
x = "John"
# is the same as
x = 'John'

Example17

In [49]:
a = 4
A = "Sally"
#A will not overwrite a

Example18

In [52]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Exxample19

In [55]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Example20

In [58]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Example21

In [61]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Example22

In [64]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Example23

In [67]:
x = "Python is awesome"
print(x)

Python is awesome

Example24

In [70]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Example25

In [73]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Example26

In [76]:
x = 5
y = 10
print(x + y)

15

Example27

In [79]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Example28

In [82]:
x = 5
y = "John"
print(x, y)

5 John

Example29

In [85]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Example30

In [89]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Example31

In [93]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example32

In [96]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example33

In [99]:
x = 5
print(type(x))

<class 'int'>

Example34

In [105]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Example35

In [1]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Example36

In [4]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example37

In [7]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example38

In [10]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Example39

In [13]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Example40

In [18]:
import random

print(random.randrange(1, 10))

4

Example41

In [21]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

Example42

In [24]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

Example43

In [27]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Example44

In [30]:
print("Hello")
print('Hello')

Hello
Hello

Example45

In [33]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Example46

In [36]:
a = "Hello"
print(a)

Hello

Example47

In [39]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example48

In [42]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example49

In [45]:
a = "Hello, World!"
print(a[1])

e

Example50

In [48]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Example51

In [51]:
a = "Hello, World!"
print(len(a))

13

Example52

In [54]:
txt = "The best things in life are free!"
print("free" in txt)

True

Example53

In [57]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Example54

In [60]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Example55

In [63]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Example56

In [68]:
b = "Hello, World!"
print(b[2:5])

llo,

Example57

In [71]:
b = "Hello, World!"
print(b[:5])

Hello

Example58

In [74]:
b = "Hello, World!"
print(b[2:])

llo, World!

Example59

In [78]:
b = "Hello, World!"
print(b[-5:-2])

orl

Example60

In [83]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Example61

In [87]:
a = "Hello, World!"
print(a.lower())

hello, world!

Example62

In [90]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Example63

In [93]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Example64

In [96]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Example65

In [99]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Example66

In [102]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Example67

In [105]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

Example68

In [108]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Example69

In [111]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Example70

In [114]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Example71

In [117]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Example72

In [120]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

Example73

In [123]:
txt = "We are the so-called \"Vikings\" from the north."